 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/background.jpg');
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 1231px;
}

.u-section-1 .u-text-1 {
  font-size: 7.8125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Chango;
  text-transform: uppercase;
  font-weight: 400;
  margin: 35px 51px 0;
}

.u-section-1 .u-image-1 {
  width: 737px;
  height: 737px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 0px 2px 8px rgba(0,0,0,1);
  margin: -24px 0 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-2 {
    width: 818px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 217px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-top: -58px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 163px;
    margin-bottom: -110px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
    font-size: 4.8828125rem;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  background-image: url("images/IMG_5921.jpg");
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: auto;
}

.u-section-2 .u-sheet-1 {
  min-height: 1040px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 935px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 819px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 724px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 574px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 377px;
}

.u-section-3 .u-text-1 {
  font-family: Chango;
  font-size: 5rem;
  margin: 0 16px;
}

.u-section-3 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  font-family: "Caveat Brush";
  font-size: 4.6875rem;
  text-transform: uppercase;
  margin: 80px auto 0 52px;
}

.u-section-3 .u-btn-2 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  font-family: "Caveat Brush";
  font-size: 4.6875rem;
  text-transform: uppercase;
  margin: -145px auto 0 457px;
}

.u-section-3 .u-btn-3 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  font-family: "Caveat Brush";
  font-size: 4.6875rem;
  text-transform: uppercase;
  margin: -145px auto 60px 836px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 26px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 283px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-2 {
    margin-left: 63px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 26px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-3 .u-btn-1 {
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: -9px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 27px;
  }
} .u-section-4 {
  background-image: url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1297px;
}

.u-section-4 .u-video-1 {
  width: 1000px;
  height: 570px;
  margin: 79px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-video-2 {
  width: 1000px;
  height: 563px;
  margin: 27px auto 59px;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2201px;
  }

  .u-section-4 .u-video-1 {
    width: 940px;
    height: 536px;
    margin-top: 585px;
  }

  .u-section-4 .u-video-2 {
    width: 940px;
    height: 529px;
    margin-top: 720px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1960px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 411px;
    margin-top: 469px;
  }

  .u-section-4 .u-video-2 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2047px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 308px;
    margin-top: 659px;
  }

  .u-section-4 .u-video-2 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1613px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 194px;
    margin-top: 448px;
  }

  .u-section-4 .u-video-2 {
    width: 340px;
    height: 191px;
  }
} .u-section-5 {
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-5 .u-text-1 {
  font-family: "Caveat Brush";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9.375rem;
  text-shadow: -2px -2px 8px rgba(0,0,0,1);
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18px));
  min-height: 894px;
  --gap: 24px;
  grid-auto-columns: calc(25% - 18px);
}

.u-section-5 .u-image-1 {
  background-image: url("images/DSC09299.jpg");
}

.u-section-5 .u-container-layout-1 {
  padding: 25px 20px;
}

.u-section-5 .u-text-2 {
  font-family: "Caveat Brush";
  font-size: 5rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 9px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  text-shadow: 2px -2px 8px rgba(0,0,0,1);
  font-family: Chango;
  margin: 425px 0 0;
}

.u-section-5 .u-image-2 {
  background-image: url("images/7F9A2494.jpg");
}

.u-section-5 .u-container-layout-2 {
  padding: 25px 20px;
}

.u-section-5 .u-text-4 {
  font-family: "Caveat Brush";
  font-size: 5rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 9px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-family: Chango;
  text-shadow: 2px -2px 8px rgba(0,0,0,1);
  margin: 425px 0 0;
}

.u-section-5 .u-image-3 {
  background-image: url("images/7F9A2495.jpg");
  background-position: 41.43% 50%;
  background-size: cover;
}

.u-section-5 .u-container-layout-3 {
  padding: 25px 20px;
}

.u-section-5 .u-text-6 {
  font-family: "Caveat Brush";
  font-size: 5rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 9px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  text-shadow: 2px -2px 8px rgba(0,0,0,1);
  font-family: Chango;
  margin: 425px 0 0;
}

.u-section-5 .u-image-4 {
  background-image: url("images/7F9A2500.jpg");
  background-position: 25.12% 50%;
  background-size: cover;
}

.u-section-5 .u-container-layout-4 {
  padding: 25px 20px;
}

.u-section-5 .u-text-8 {
  font-family: "Caveat Brush";
  font-size: 5rem;
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  margin: 9px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  text-shadow: 2px -2px 8px rgba(0,0,0,1);
  font-family: Chango;
  margin: 425px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-5 .u-text-1 {
    font-size: 6.25rem;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 312px;
    grid-gap: 24px;
  }

  .u-section-5 .u-text-3 {
    font-weight: 400;
  }

  .u-section-5 .u-text-5 {
    margin-top: 261px;
    font-weight: 400;
  }

  .u-section-5 .u-text-7 {
    font-weight: 400;
  }

  .u-section-5 .u-text-9 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    grid-auto-columns: calc(50% - 12px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.6875rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.3888888888888888rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.3888888888888888rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.3888888888888888rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.3888888888888888rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.90625rem;
  }
} .u-section-6 {
  background-image: url("images/background.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 975px;
}

.u-section-6 .u-text-1 {
  font-size: 9.375rem;
  font-family: "Caveat Brush";
  text-transform: uppercase;
  margin: 0 49px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 391px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5625rem;
  margin: 24px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 391px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.5625rem;
  margin: 24px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 391px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.5625rem;
  margin: 24px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 391px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.5625rem;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-6 .u-text-1 {
    font-size: 7.8125rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 309px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 323px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 156px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 6.25rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 4.6875rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 590px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 45px auto;
}

.u-section-7 .u-image-1 {
  min-height: 500px;
  background-image: url("images/IMG_4810.jpg");
  background-position: 78.88% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 507px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}